<!DOCTYPE html>
<html>

<head>
    <title></title>

    <meta charset="utf-8">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link href="https://unpkg.com/animate.css@3.5.1/animate.min.css" rel="stylesheet" type="text/css">
</head>


<body>
    <div id="app">
        {{ message }}
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            ¡Deja tu mouse sobre este mensaje unos segundos para ver el atributo `title` enlazado dinámicamente!
        </span>
    </div>

    <div id="app-3">
        <p v-if="seen">Now you see me</p>
    </div>

    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div><br>

    <div id="example-3">
        <button @click="show = !show">
            Animar
        </button>
        <transition name="custom-classes-transition" enter-active-class="animated flash" leave-active-class="animated bounceOutRight">
            <p v-if="show">hello</p>
        </transition>
    </div>

</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    })
    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: 'You loaded this page on ' + new Date()
        }
    })

    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: true
        }
    })
    var app6 = new Vue({
        el: '#app-6',
        data: {
            message: 'Hola!'
        }
    })

    new Vue({
        el: '#example-3',
        data: {
            show: true
        }
    })
</script>

</html>